* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px !important;
  margin: auto;
  padding: 0 2%;
}

.w33 {
  width: 32%;
}

.w50 {
  width: 49%;
}

.w100 {
  width: 100%;
}

html, body {
  height: 100%;
}

main {
  background-color: $dark-page;
}

p, h1, h2, h3, h4, h5, h6 {
  color: white;
}

p {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .w33, .w50 { width: 100%; }
  header {
    min-height: 50vh !important;
  }
}
